<%- include('header') %>
<h1>About Page</h1>

<h2>To Do Now</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, atque,
  repellat, at quas laborum odio soluta dolorum omnis eum numquam minus
  necessitatibus ratione dolorem libero laboriosam pariatur corrupti! Et qui
  nihil, alias aperiam accusamus recusandae eius architecto! Reprehenderit,
  maiores laudantium.
</p>

<h2>To Do Later</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore ut unde
  animi quos doloremque, aut excepturi minus ea repudiandae sint assumenda
  consequuntur hic expedita fugiat ducimus, ipsam alias sequi impedit.
</p>

<%- include('footer') %>
