<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List v1</title>
</head>

<body>
    <!-- <h1>
        <%= todayDayType %>
    </h1> -->


    <% if (todayDayType==0 || todayDayType==6) { %>
        <h1 style="color : red">
            <%=dayOfTheWeek%> List
        </h1>
        <% } else { %>
            <h1 style="color :blue">
                <%=dayOfTheWeek%> List
            </h1>
            <% } %>

</body>

</html>